:root {
    --primary-color: #1f4287;
    --accent-color: #ebf1fd;
    --navbar-color: #fff;
    --body-color: white;
}
.header{
    width: 100%;
    background-color: var(--accent-color);
}
.cartList{
    color: var(--primary-darkblue);
}
.dbHome{
    color: var(--font-color3);
}
img{
    width: 30%;
    height: 10vh;
    object-fit: cover;
}

.underline{
    width: 100%;
    height: 30vh;
    color: black;
}
.my-card {
    border: 0.5px solid #ccc;
    
}
.my-card-img {
    width: 100%;
    background-color: var(--accent-color);
    padding: 20px 40px;
    text-align: center;
    
}
.my-card-img img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
   
}
p{
    font-size: 10px;
}
div div h4 div{
    font-size: 10px;
}

icon{
    color:b ;
}
.my-card-info {
    width: 100%;
    background-color: white;
    padding: 20px 40px;
    color: var(--primary-color);
}
.card-button {
    background-color: var(--primary-color);
    color: white;
}

#logo {
    width: 9em;
}


.qty .counts {
    color : black;
    font-size: 1rem;
    margin-top: 0.2rem;
    width: 70%;
    
    text-align: center;
 }
 .qty .plus {
    cursor: pointer;
    width: 35%;
    border-radius: 10%;
   font-size: 1.5rem;
   margin: auto;
    color: #fff;
    background: var(--primary-darkblue);
    margin-left: 0.8rem;
    text-align: center;
  
    }
 .qty .minus {
    width: 35%;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10%;
    color:#fff;
    background: var(--primary-darkblue);
    margin: auto;
    margin-right: 0.8rem;
    text-align: center;
  
 }
 .quantity{
     width: 28%;
 }
 
 .qty{
     width: 30%;
 }
 .cart-tb{
    background-color: var(--accent-color);
 }
 @media screen and (max-width: 720px) {
    .cartList{
        padding-top: 1em;
    }
    .dbHome{
        width: 40%;
        padding-top: 1em;
    }
    .no-item{
        color: black;
        background-color: black;
    }
    img{
        width: 60%;
        
    }
    .quantity{
        width: 50%;
        
    }
    .qty .plus {
        width: 40%;
        height: 1.3em;
        margin-top: 0.3em;
        
        margin-right: 0.4rem;
        
      
        }
     .qty .minus {
        
        width: 40%;
        height: 1.3em;
        margin-top: 0.3em;
        
        margin-right: 0.4rem;
        
      
     }
 }