.authorHeader {
  height: 23vh;
  width: 100%;
  background-color: rgba(199, 225, 250, 0.452);
}
.author {
  margin-top: 3em;
  color: var(--primary-darkblue);
}
.homeTextColor {
  color: var(--font-color3);
}
.startName span {
  cursor: pointer;
  color: rgb(26, 26, 26);
}
.startName span:hover {
  color: var(--font-color3);
  text-decoration: underline;
}
.selectedName {
  color: var(--font-color3);
  text-decoration: underline;
}

.authorsContainer {
  width: 95%;
  height: fit-content;

  margin: auto;

  flex-wrap: wrap;
}

.authorsCard {
  height: fit-content;
  min-height: 50vh;
  width: 17vw;
  border: 1px solid black;
  border-radius: 5px;
}
.authorsCard img {
  border-radius: 2vw;
  /* width: 50%; */
}
.authorName {
  color: var(--primary-darkblue);
}
.authorInfoButton {
  background-color: var(--primary-darkblue) !important;
  color: white;
  width: 80% !important;
  /* height: fit-content !important; */
  border-style: none;
  border-radius: 5px;
  margin-top: 1em;
}

.authorInfoButton:hover {
  color: var(--font-color3);
}
.noAuthor {
  /* background-color: rgba(255, 224, 224, 0.89) !important; */

  border: none;
  width: 50%;
}
.authorImage {
  width: 50%;
}
@media screen and (max-width: 720px) {
  .authorsCard {
    width: 25%;
    height: fit-content;
    min-height: 13vh;
  }
  .authorInfoButton {
    width: 45% !important;
  }
  .startName{
    line-height: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .authorsImage .mt-2 {
    margin-top: 2em;
  }
  .autCard .btn{
    font-size: 0.6em;
  }
  .getbtn{
    padding-left: 0.35em;
  }
  .authorHeader{
    margin-top: 14.5em;
    height: 20%;
  }
  .authorHeader .author{
    margin-bottom: 2.5em;
  }
  .authorHeader .mt-5{
    margin-bottom: 2.5em;
  }
}
@media screen and (max-width: 500px) {
  .authorsCard {
    width: 32%;
  }
}