.authorHeader {
  height: 23vh;
  width: 100%;
  background-color: rgba(199, 225, 250, 0.452);
}
.author {
  margin-top: 3em;
  color: var(--primary-darkblue);
}
.homeTextColor {
  color: var(--font-color3);
}
.startName span {
  cursor: pointer;
  color: rgb(26, 26, 26);
}
.startName span:hover {
  color: var(--font-color3);
  text-decoration: underline;
}
.selectedName {
  color: var(--font-color3);
  text-decoration: underline;
}

.authorsContainer {
  width: 95%;
  height: fit-content;

  margin: auto;

  flex-wrap: wrap;
}

.authorsCard {
<<<<<<< HEAD
  /* height: 50vh; */
=======
  height: fit-content;
  min-height: 50vh;
>>>>>>> origin/main
  width: 17vw;
  border: 1px solid black;
  border-radius: 5px;
}
.authorsCard img {
  border-radius: 2vw;
  /* width: 50%; */
}
.authorName {
  color: var(--primary-darkblue);
}
.authorInfoButton {
  background-color: var(--primary-darkblue) !important;
  color: white;
  width: 80% !important;
  /* height: fit-content !important; */
  border-style: none;
  border-radius: 5px;
  margin-top: 1em;
}

.authorInfoButton:hover {
  color: var(--font-color3);
}
.noAuthor {
  /* background-color: rgba(255, 224, 224, 0.89) !important; */

  border: none;
  width: 50%;
}
.authorImage {
  width: 50%;
}
