:root {
    --primary-color: #1F4287;
    --accent-color: #EBF1FD;
    --navbar-color:#fff;
    --body-color:white;

}
.b{
    background-color: var(--body-color);
}
.nav{
    background-color: var(--navbar-color);
}
.bg{
    background-color: var(--accent-color);
}
.header {
    width: 24%;
    margin: 0.3rem;
    background-color: var(--accent-color);
}
img{
    width: 30%;
    height: 10vh;
    object-fit: cover;
}

.underline{
    width: 100%;
    height: 30vh;
    color: black;
}
.my-card {
    width: 100%;
    border: 0.5px solid #ccc;   
    cursor: pointer;
}
.my-card-img {
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    padding: 20px 40px;
    text-align: center;
    
}
.my-card-img img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
   
}

icon{
    color:b ;
}
.my-card-info {
    width: 100%;
    background-color: white;
    padding: 20px 40px;
    color: var(--primary-color);
}
.card-button {
    background-color: var(--primary-color);
    color: white;
}
.cate{
    background-color: var(--primary-color);
}

.close {
    width: 5%;
    height: 5%;
    font-size: 1.5rem;
    margin-right: 1rem;
    background: transparent;
    border: none;
}


.btnCart {
    border-style: solid;
    background: var(--primary-color);
    color: #fff;
    border-color: transparent;
}

.btnShopping {
    border-style: solid;
    background-color: transparent;
    border-color: var(--primary-color);
}