*{
    margin: 0;
    padding: 0;
}
:root {
    --primary-darkblue: #1f4287;
    --secondary-lightblue: #1f4287;
    --bg-lightblue: #3e3e;
    --font-color1: #484343;
    --font-color2: #595e68;
    --yellow-icon: #f4d221;
    --primary-color: #1f4287;
   --accent-color: #ebf1fd;
   --navbar-color: #fff;
   --body-color: white;
}
.header {
    z-index: 1005;
}
.navbar {
    background-color: var(--primary-darkblue);
    color: white;
    height: 5em;
}
.my-fcolor {
    color: white;
}
.image-container{
    width: 2rem;
}
.catdrop{
    font-size: 1.3em;
}

.my-title {
    padding-left: 9%;
}
.b-title {
    font-size: 0.7em;
    color: white;
}
.categories {
    border-radius: 1.25rem;
    border: 1px solid white;
}
.shop{
    border: none;
    background: transparent;
    margin-top: 0.5rem;
}
#logo{
    width: 9rem;
}
.cartdiv{
    position: relative;
}
.cartcount{
    
    position: absolute;
    left: 20px;
    bottom: 20px;
}
/* .header{
    background-color: var(--accent-color);
}
.Coheader{
    color: var(--primary-darkblue);
}
.Cott{
    color: var(--font-color3);
} */
@media screen and (max-width:720px){
    .navbar {
        height: 5em;
        
    }
    .container-fluid{
        background-color: #1f4287;
    }
    
    .image-container img{
        display: none;
    }
    .my-fcolor{
        font-size: 1em;
    }
    .b-title{
        font-size: 0.7em;
    }
    .my-title{
        padding-left: 1%;
        padding-right: 5%;
        
    }
    .categories{
        width: 85%;
    }
    .pe-2{
        font-size: 1em;
    }
    .catdrop{
        font-size: 1.2em;
    }
    .my-tog{
        font-size: 1em;
    }
    /* .cartdiv{
        margin-right: 73%;
    }
    #cartCount2{
        margin-right: 60%
    } */
    .m-icon{
        margin-right: 73%;
    }
    
}
