*{
    margin: 0;
    padding: 0;
}
:root {
    --primary-darkblue: #1f4287;
    --secondary-lightblue: #1f4287;
    --bg-lightblue: #3e3e;
    --font-color1: #484343;
    --font-color2: #595e68;
    --yellow-icon: #f4d221;
}
.header {
    z-index: 1005;
}
.navbar {
    background-color: var(--primary-darkblue);
    color: white;
    height: 5em;
}
.my-fcolor {
    color: white;
}
.main-logo {
    width: 8em;
}
.my-title {
    padding-left: 9%;
}
.b-title {
    font-size: 0.7em;
    color: white;
}
.categories {
    border-radius: 1.25rem;
    border: 1px solid white;
}