
.my-footer{
   margin-top: 34%;
}
.cs-width {
   width: 200px;
}
@media screen and (max-width:990px){
   .ftitle{
      font-size: 1.5em;
   }
   
   .cs-width{
      margin-left: 1.2em;
   }
   .fdiv{
      display: none;
   }
}
@media screen and (max-width:720px){
   .ftitle{
      font-size: 1.5em;
   }
   
   .cs-width{
      margin-left: 1.2em;
   }
   .fdiv{
      display: none;
   }
   
}
@media screen and (max-width:500px){
   .fservice{
      display: none;
   }

}