.hello {
   width: 700px;
   height: 180px;
}
.my-footer{
   margin-top: 10%;
}
.cs-width {
   width: 200px;
}
@media screen and (max-width:720px){
   .ftitle{
      font-size: 1.5em;
   }
   .hello{
      display: flex;
      flex-direction: column;
      padding-right: 50%;
   }
   .cs-width{
      margin-left: 1.2em;
   }
   
   
}