.categories {
  border-radius: 1.25rem;
  border: 1px solid white;
}
.secondary-bg {
  width: 540px;
  height: 300px;
}
.shop-now {
  width: 200px;
}
.slider {
  margin-top: 5%;
}
/* .{
  width: 540px;
  height: 300px;
} */
.img-slide1 {
  width: 500px;
  height: 300px;
}

.card-width {
  width: 200px;
}
.cardLg {
  width: 300px;
}
.cs-width {
  width: 200px;
}
.hello {
  width: 700px;
  height: 180px;
}
.stext {
  margin-top: 5em;
  margin-left: 2em;
}
#blueBox {
  margin-top: 6em;
}

.bg-lightBlue {
  background-color: #ebf1fd;
}
.book-card-lg {
  width: 250px;
  height: 500px;
}
.book-card-lg2 {
  width: 320px;
  height: 500px;
}

.circle-pink {
  background-color: red;
}

.scroll-to-top {
  bottom: 50px;
  right: 50px;
}

.scroll-to-top-d {
  display: none;
}

.bd-new-color {
  border-color: #514e4e;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.authorViewAll {
  background-color: var(--primary-darkblue) !important;
}
.asdf {
  color: aqua !important;
}
.goBookDetail,
.showAuthorsBooks {
  cursor: pointer;
}
.showAuthorsBooks {
  border: 0.5px solid black !important;
  border-radius: 1rem;
}
.showAuthorsBooks img {
  border-radius: 2rem;
}

@media screen and (max-width: 720px) {
  .secondary-bg {
    width: 50%;
    height: 20%;
  }
  .img-slide1 {
    width: 11em;
    height: 7em;
  }
  .stext1 {
    font-size: 0.4em;
  }
  .stext2,
  .cat {
    font-size: 0.6em;
  }
  .stext {
    position: absolute;
    left: 35%;
    bottom: 59%;
    width: 55%;
  }
  #blueBox {
    margin-top: 5em;
    width: 50%;
    display: block;
    font-size: 0.5em;
    margin-left: 17em;
  }
  .web-box1,
  .web-box2,
  .web-box3 {
    /* margin-top: 2em; */
    display: none;
  }
  .rounded-circle {
    width: 2em;
    height: 2em;
  }
  .icon {
    font-size: 0.7em;
    padding-bottom: 0.4em;
  }
  .newhr {
    display: none;
  }
  .newsBook {
    position: absolute;
    top: 37%;
  }
  .nb {
    font-size: 1.2em;
  }
  .goBookDetail {
    width: 40% !important;
  }
  #newsBookAppend {
    width: fit-content !important;
  }
  /* .card-width{
    width: 11em;
    height: 6em;
  } */
  .resp {
    width: 100px;
    height: 50px;
    background-color: aquamarine;
  }
  .img-fluid {
    width: 5em;
  }
  .card-body {
    height: 10em;
  }
  .card-title {
    font-size: 0.8em;
  }
  .my-2 {
    font-size: 0.5em;
  }

  .bsbCon {
    height: 30%;
    /* background-color: aqua; */
    /* display: none; */
  }
  .bsb {
    margin-top: 40%;
  }
  .showAuthorsBooks {
    width: fit-content !important;
  }
  /* .card {
    min-height: 2vh !important;
    min-width: 10% !important;
  } */
}
