:root {
  --primary-color: #1f4287;
  --accent-color: #ebf1fd;
  --navbar-color: #fff;
  --body-color: white;
}

.form-control-borderless {
  border: none;
}

.header {
  background-color: var(--accent-color);
}
.search {
  color: var(--primary-darkblue);
}
.hometextColor {
  color: var(--font-color3);
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.viewBook,
.bookDetail {
  background-color: var(--primary-darkblue);
  color: white;
  margin-top: 1em;
}
/* .footer-class{
  margin-top: 30%;
} */
@media screen and (max-width:990px){
  .responitembox{
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 720px) {
  .searchbox {
    width: 50%;
    margin-left: 47%;
    margin-top: 12%;
  }
  #searchInpt {
    font-size: 1em;
  }

  .Bookitems {
    width: 11em;
    padding-top: 5em;
  }
  .responsearchbox{
    margin-top: 28%;
  }
  .ressearchbox{
    margin-left: -100%;
  }
}
@media screen and (max-width:500px){
  /* .rescategory{
    margin-left: 50% !important;
    margin-bottom: 5%;
} */
.responsearchbox{
  margin-top: 45%;
}
}
