:root {
   --primary-darkblue: #1f4287;
   --secondary-lightblue: #1f4287;
   --font-color1: #484343;
   --font-color2: #595e68;
   --font-color3: #2964da;
   --yellow-icon: #f4d221;
}
.my-class {
   font-family: Inria Sans;
}

.wrapper {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ccc;
}

.inner-left {
   border: 30px solid #1f4287;
   /* border-color: var(--primary-darkblue); */

   border-right: none;
   background-color: #fff;
}

.inner-right {
   border: 30px solid #fff;
   border-left: none;
   background-color: var(--primary-darkblue);
}
.inner-left{
   border-radius: 1em 0em 0em 1em;
}
.inner-right{
   border-radius:  0em 1em 1em 0em;
}
@media (max-width: 768px) {
   
   .inner-left,
   .inner-right {
      border: none;
      width: 80%;
      margin-left: 10%;
   }
   .inner-left{
      border-radius: 0em 0em 1em 1em;
   }
   .inner-right{
      border-radius: 1em 1em 0em 0em;
   }
   .welcome{
      padding-top: 8%;
      height: 15vh;
   }
}
