*{
    margin: 0 ;
    padding: 0;
}
.box{
    align-items: center;
    justify-content: center;
    text-align: center;

}
.custombg{
    background-color: var(--main-color);
    width: 40%;
    height: 10em;
    margin-left: 20em;


}