*{
    margin: 0;
    padding: 0;
}
.aut-bio{
    overflow: hidden;
    max-height:100px ;
}
.aut-img > img{
    width: 100%;
}
@media screen and (max-width:720px){
   .smBtnn{
       border: none;
   }
   .tttt{
       margin-left: 5%;
   }
   .respontd{
    font-size: 0.5em;
   }
   }