* {
  margin: 0;
  padding: 0;
}
.my-img {
  width: 120px;
}
.my-nav {
  padding-left: 0px !important;
}
/* Nav bar */
.buttonbox {
  height: 120vh;
  background-color: var(--main-color);
  text-align: center;
}
.btn:focus {
  background-color: var(--btn-active-color);
}
.logout {
  background-color: var(--dashboard-items-color);
}
.logout:focus {
  background-color: var(--dashboard-items-color);
}
.custombutton {
  background-color: var(--btn-color);
  color: var(--color-black);
  border: none;
}
.custombutton:focus {
  background-color: var(--btn-color);
}
.text-dec {
  text-decoration: none;
}
.navBtnGp1{
  width: 145%;
}
.navBtnGp2{
  width: 155%;
}
.navBtnGp3{
  width: 143%;
}
.navBtnGp4{
  width: 154%;
}
.navBtnGp5{
  width: 159%;
}
.navBtnGp6{
  width: 151%;
}
.navBtnGp7{
  width: 140%;
}
.navBtnGp8{
  width: 178%;
}
.logout {
  width: 272%;
}

/* Table Text */
.tb-text {
  text-align: center;
}
.icons {
  margin-top: 2.1px;
}
/* inputbox color */
.input-box {
  background-color: var(--input-box-color);
}
/* Table Image */
.tb-img > img {
  width: 50%;
}
.categoriesShowDropdown {
  z-index: 100 !important;
  position: relative !important;
}
@media screen and (max-width: 1030px) {
  .buttonbox {
    width: 13%;
  }
  .buttonbox .fs-4 {
    display: none;
  }
  button a {
    display: none;
  }
  .my-img {
    width: 100%;
  }
  .webName{
    display: none;
  }
  .box1 {
    height: 12vh;
  }
  .Dsnon{
    display: none;
  }
  .number,
  .quantity {
    display: none;
  }
  .logout {
    font-size: 10px;
    font-weight: 800;
  }
  .navBtnGp1,.navBtnGp2,.navBtnGp3,.navBtnGp4,
  .navBtnGp5,.navBtnGp6,.navBtnGp7,.navBtnGp8{
    width: 50px;

  }
}
