.admin-log{
    border: none;
}

.top{
    margin-left: 2em;
    
}

.my-col{
    padding-top: 2.1em;
    padding-right: 8em;
}
.dshbtn{
    background-color: var(--btn-color);
}
.bottomInfo{
    width: 40% !important;
    padding-top: 1em;
    
}
.bottomMinHeight {
    min-height: 13vh !important;
    min-width: 18vw !important;
    
}
.container{
    background-color: blanchedalmond;
}
.rounded-circle {
    width: 3em;
}
/* .bottomCardText p {
    font-size: 0.6rem !important;
} */
.bottomCardText {
    padding-left: 10px !important;
}
@media screen and (max-width:720px){

    .box1{
        height: 12vh;
    }
    
    .table{
        margin-right: 5%;
    }
    .top{
        margin-right: 10%;
    }
    .cusPag{
        font-size: 0.5em;
        
    }
    .chart{
        margin-top: 10%;
    }
    .box2{
        margin-left: 10%;
    }
   .tb-text{
    font-size: 0.7em;
   }
}
@media screen and (max-width:1080px){
    .removeicon,.quantity{
        display: none;
    }
    .box1{
        align-items: center;
        justify-content: center;
    }
    .number{
        padding-bottom: 20px;
    }
    .cusPag{
        margin-left: 3rem;
    }
}