.shop-img > img{
    width: 100%;
}
@media screen and (max-width:720px){
    .mcustom{
        font-size: 0.7em;
    }
    .mcustom1{
        font-size: 0.55em;
    }
    .mcustom2{
        font-size: 0.65em;
    }
    .smallbtnn{
        border: none;
    }
    }